// Variables
$grayshade: #f1f3f5; 
$fontColorShade1: #345;
$grayshade2: #d1d1d1;
$ricostacruzSiteFont: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
$baseUpBlue: #2597df;
$baseUpLightBlue: #38ddf5;
$coral: #FF7F50;
$limegreen: #32CD32;

html, body {
    background: $grayshade;
    font-family: $ricostacruzSiteFont;
    font-size: 1em;
    line-height: 1.6;
    color: $fontColorShade1;
}

h1 {
    font-weight: 200;
}

.spa-content {
    padding: 30px 0;
    @extend .cbs-container;
}
.headline {
    margin-bottom: 20px;
}
.primary-btn {
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: $limegreen;
    padding: 10px 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
    border: 0;
    outline: 0;
}